.App {
  text-align: center;
  border: 1px solid black;
  width: 20rem;
  margin: auto;
  background: rgb(230, 0, 118);
  background: linear-gradient(315deg,  rgba(230, 0, 118,0) , rgba(230, 0, 118,1));
  border-radius: 5px;
}


